<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Header shown at the top of the installer -->
    <add key="header" value="Kaza's Crazy Mod Installer"/>
    <!-- This value is used to name the MagicLauncher profile and the default install location -->
    <add key="package_name" value="KazaCrazyMod"/>
    <!-- Location to download the modified files zip from -->
    <add key="mod_zip_url" value="http://bozemanmc.dyndns-server.com:8000/minecraft/modpack.zip"/>
    <!-- Location to download new default texture pack from. If no texture pack leave this value an empty string -->
    <add key="texture_zip_url" value=""/>
  </appSettings>
</configuration>