<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="header" value="Industrial Mod Installer"/>
    <add key="package_name" value="IndustrialPack"/>
    <add key="mod_zip_url" value="http://lologarithm.dyndns.org/minecraft/industrial_client.zip"/>
    <add key="texture_zip_url" value="http://lologarithm.dyndns.org/minecraft/BenSoartexModded.zip"/>
  </appSettings>
</configuration>